:global {
	.card {
		box-shadow: 0 0 3px 4px #eaeaea;
		border-radius: 8px;
		-webkit-border-radius: 8px;
		-moz-border-radius: 8px;
		-ms-border-radius: 8px;
		-o-border-radius: 8px;
		overflow: hidden;
	}
}

.red {
	color: #ff1800;
}

td {
	border-color: #e1e1e1;
    border-style: solid;
    border-width: 1px;
}